@import 'tools/variables.scss';

body {
  background-color: white;
  font-family: $sans-serif;
}

// HEADER STYLES //
header {
  display: flex;
  justify-content: space-between;
}

// ABOUT PAGE STYLES //
.profile-pic {
  border-radius: 50%;
  width: 25%;
}
