@import 'tools/variables.scss';

body {
  background-color: white;
  font-family: $sans-serif;
}

// HEADER LAYOUT STYLES //
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: $gutter-size 0;
}

// INDEX PAGE STYLES //
.intro-container {
  margin-top: $gutter-size * 5;
}

// FOOTER PAGE STYLES
footer {
  background-color: #FFF;
  bottom: $gutter-size;
  padding: $gutter-size;
  position: fixed;
  width: 100%;
}
