%header
  %nav
    %ul
      %li
        = link_to "https://twitter.com/ashleythecoder", target: "_blank" do
          Twitter
          %i.material-icons open_in_new
      %li
        = link_to "https://github.com/anSullivan12", target: "_blank" do
          GitHub
          %i.material-icons open_in_new
      %li
        = link_to "https://www.linkedin.com/in/ashleythecoder/", target: "_blank" do
          LinkedIn
          %i.material-icons open_in_new
