%section
  = image_tag './images/ashley-the-coder.jpeg', alt: 'profile picture of Ashley', height: 'auto', width: '25%', class: ''
  %p.mui--text-body1 My name is Ashley and I'm a Front End Developer working remotely in the Chicago area. I love building user-friendly experiences that are as beautiful as they are useful. With my web design background, I help bridge the gap between graphic designers and engineers. Currently I'm writing code for Brad'sDeals.com. If you'd like to discuss design, code or a project you'd like my help on, feel free to contact me or send me an email at ashleythecoder@gmail.com. I am currently accepting freelance projects and would love to work with you to build the perfect website for you!
