%section.flex-container
  .intro-container
    %h1.mui--text-display4 Hello.
    %p.mui--text-display3 I'm Ashley, a Front End Developer focusing on building accessible and semantic web experiences.
  %img.profile-image{:src => './images/purple-hair-square.jpeg', :alt => 'profile picture of Ashley'}
