%section.resume-container
  %h1.mui--text-display1 Resume
  .mui-container-fluid
    %p I began coding HTML and CSS in 2008 after changing my major from Journalism to Visual Communication Technology. At the time, I did all of my coding in Dreamweaver and learned a little Flash; despite my frustration with ActionScript, I enjoyed coding and decided to further transition my career aspirations to be a web designer. After I graduated in 2011, I moved to Washington state for my first post-grad job and the beginning of my career.
    .mui-row
      %h2.mui--text-headline Skills
      %ul
        %li HTML and Haml
        %li CSS and SCSS
        %li JavaScript
        %li Vue
        %li jQuery
        %li Backbone.js
        %li Ruby on Rails
        %li accessibility
        %li writing unit tests
        %li organizing meeting agendas
        %li version control, particularly with GitHub
        %li cross browser testing
        %li building out user testing experiences
        %li building email templates
      %h3 Passions
      %ul
        %li Making the web accessible for as many users as possible.
        %li Mentoring newer developers.
        %li Community outreach.
        %li Helping others.
